# Ignore everything in the folder
devops/docker/*/*
!devops/docker/*/

# But not these specific files
!devops/docker/**/docker-compose.yml
!devops/docker/**/README.md
!devops/docker/*/*/.env

# Also, don't ignore subfolders needed for those files (if any)
!devops/docker/

downloads/
logs/
backups/

**/__pycache__/
*.py[cod]

.git-replacements.txt
.env

.DS_Store

venv/
.venv/